# development | production | test
NODE_ENV=development

# use SK for merchant acct_1PQb5mDJyQiVNnrX
STRIPE_SK=sk_test_foobar

# it's lame but you'll also need to replace this on the frontend too (just search for 'STRIPE_PK')
STRIPE_PK=pk_test_51PQb5mDJyQiVNnrXICxV5H5edFoBkejRUlTTgDnNdcNbKNFsNaTkwUepUjOsZ5O73I8qh3yAimXinKZxlhc8RLxz00gZ0v5vlS