.idea
.DS_Store
.env
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
tmp
yarn-error.log
yt-dlp
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
api/src/lib/generateGraphiQLHeader.*
public/main.css
public/main.css.map
public/main.js
public/main.js.map
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
